@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,700&display=swap");

@import url("https://fonts.googleapis.com/css?family=Montserrat:600&display=swap");

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class*=_icon-]::before,
[class*=" _icon-"]::before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-decoration: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]::before,
[class*=" _icon-"]::before {
  display: block;
}

._icon-facebook:before {
  content: "\e900";
  color: #fff;
}

._icon-instagram:before {
  content: "\e901";
  color: #fff;
}

._icon-twitter:before {
  content: "\e902";
  color: #fff;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

a.button {
  font-size: calc(14px + 2 * ((100vw - 320px) / 1600));
  padding-top: calc(7px + 7 * ((100vw - 320px) / 1600));
  padding-bottom: calc(7px + 7 * ((100vw - 320px) / 1600));
  padding-right: calc(8px + 8 * ((100vw - 320px) / 1600));
  padding-left: calc(8px + 8 * ((100vw - 320px) / 1600));
  font-family: "Inter";
  font-weight: 500;
  line-height: 19px;
  color: #FFFFFF;
  background-color: #0E1734;
  border-radius: 4px;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

a.button:hover {
  background-color: #1638a5;
}

a.button-big {
  font-size: calc(14px + 2 * ((100vw - 320px) / 1600));
  padding-top: calc(8px + 8 * ((100vw - 320px) / 1600));
  padding-bottom: calc(8px + 8 * ((100vw - 320px) / 1600));
  padding-right: calc(16px + 16 * ((100vw - 320px) / 1600));
  padding-left: calc(16px + 16 * ((100vw - 320px) / 1600));
  font-family: "Inter";
  font-weight: 500;
  line-height: 19px;
  color: #FFFFFF;
  background-color: #0E1734;
  border-radius: 4px;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

a.button-big:hover {
  background-color: #1638a5;
}

.title-big {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: calc(24px + 24 * ((100vw - 320px) / 1600));
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #192252;
}

.text-big {
  font-family: "Inter";
  font-weight: 400;
  font-size: calc(16px + 2 * ((100vw - 320px) / 1600));
  line-height: 150%;
  color: #848FAC;
}

.title {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: calc(18px + 20 * ((100vw - 320px) / 1600));
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #192252;
}

.text {
  font-family: "Inter";
  font-weight: 400;
  font-size: calc(16px + 2 * ((100vw - 320px) / 1600));
  line-height: 150%;
  color: #848FAC;
}

.text p {
  padding-bottom: calc(8px + 8 * ((100vw - 320px) / 1600));
}

.text p:last-child {
  padding-bottom: calc(0px + 0 * ((100vw - 320px) / 1600));
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body {
  font-family: "Inter";
  font-size: 18px;
  color: #848fac;
}

body.lock {
  overflow: hidden;
}

[class*=__container] {
  max-width: 1230px;
  margin: 0px auto;
  padding-top: calc(0px + 0 * ((100vw - 320px) / 1600));
  padding-bottom: calc(0px + 0 * ((100vw - 320px) / 1600));
  padding-right: calc(7.5px + 7.5 * ((100vw - 320px) / 1600));
  padding-left: calc(7.5px + 7.5 * ((100vw - 320px) / 1600));
}

/*====================HEADER====================*/

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header .header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: calc(50px + 81 * ((100vw - 320px) / 1600));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header__logo {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: calc(16px + 16 * ((100vw - 320px) / 1600));
  line-height: 39px;
  color: #192252;
  z-index: 50;
}

.header .menu .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header .menu .menu__link {
  font-family: "Inter";
  font-weight: 500;
  font-size: calc(14px + 2 * ((100vw - 320px) / 1600));
  line-height: 19px;
  color: #192252;
  position: relative;
  background-color: transparent;
}

.header .menu .menu__link::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 0;
  height: 1px;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  background-color: #848fac;
}

.header .menu .menu__link:hover::after {
  width: 100%;
}

.header .header__button {
  z-index: 50;
}

/*====================PAGE====================*/

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/*==========================================================================SPACE==========================================================================*/

.space {
  margin-top: calc(60px + 140 * ((100vw - 320px) / 1600));
  margin-bottom: calc(20px + 60 * ((100vw - 320px) / 1600));
}

.space .space__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin-top: calc(10px + 125 * ((100vw - 320px) / 1600));
}

.space .space__title {
  padding-bottom: calc(12px + 12 * ((100vw - 320px) / 1600));
}

.space .space__text {
  padding-bottom: calc(16px + 16 * ((100vw - 320px) / 1600));
}

.space .space__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

/*==========================================================================NORWAY==========================================================================*/

.norway {
  padding-top: calc(10px + 70 * ((100vw - 320px) / 1600));
  padding-bottom: calc(10px + 70 * ((100vw - 320px) / 1600));
}

.norway .norway__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.norway .norway__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  position: relative;
}

.norway .norway__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
  padding-top: calc(10px + 95 * ((100vw - 320px) / 1600));
}

.norway .norway__content .norway__title {
  padding-bottom: calc(12px + 12 * ((100vw - 320px) / 1600));
}

.norway .norway__content .norway__text {
  padding-bottom: calc(16px + 16 * ((100vw - 320px) / 1600));
}

/*==========================================================================CABIN==========================================================================*/

.cabin {
  padding-top: calc(10px + 70 * ((100vw - 320px) / 1600));
  padding-bottom: calc(16px + 16 * ((100vw - 320px) / 1600));
}

.cabin .cabin__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 80%;
          flex: 0 1 80%;
  padding-top: calc(10px + 103 * ((100vw - 320px) / 1600));
}

.cabin .cabin__content .cabin__title {
  padding-bottom: calc(12px + 12 * ((100vw - 320px) / 1600));
}

.cabin .cabin__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  position: relative;
}

/*==========================================================================FOOD==========================================================================*/

.food {
  padding-bottom: calc(10px + 70 * ((100vw - 320px) / 1600));
}

.food .food__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.food .food__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  position: relative;
}

.food .food__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
  padding-top: calc(10px + 103 * ((100vw - 320px) / 1600));
}

.food .food__content .food__title {
  padding-bottom: calc(12px + 12 * ((100vw - 320px) / 1600));
}

/*==========================================================================ROOMS==========================================================================*/

.rooms .rooms__block {
  padding-top: calc(10px + 70 * ((100vw - 320px) / 1600));
  padding-bottom: calc(10px + 70 * ((100vw - 320px) / 1600));
}

.rooms .block-center {
  text-align: center;
}

.rooms .block-center .block-center__title {
  padding-bottom: calc(12px + 12 * ((100vw - 320px) / 1600));
}

.rooms .block-center .block-center__text {
  display: inline-block;
  max-width: 588px;
  padding-bottom: calc(16px + 16 * ((100vw - 320px) / 1600));
}

.rooms .rooms__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding-bottom: calc(10px + 70 * ((100vw - 320px) / 1600));
}

.rooms .rooms__item {
  padding-bottom: calc(10px + 10 * ((100vw - 320px) / 1600));
}

.rooms .item-rooms .item-rooms__title {
  padding-top: calc(16px + 16 * ((100vw - 320px) / 1600));
  font-family: "Montserrat";
  font-weight: 600;
  font-size: calc(18px + 6 * ((100vw - 320px) / 1600));
  line-height: 150%;
  color: #000;
  padding-bottom: calc(10px + 6 * ((100vw - 320px) / 1600));
}

.rooms .item-rooms .item-rooms__text {
  padding-bottom: calc(16px + 16 * ((100vw - 320px) / 1600));
}

.rooms .item-rooms .more-item-rooms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rooms .item-rooms .more-item-rooms .more-item-rooms__title {
  font-family: "Inter";
  font-weight: 400;
  font-size: calc(16px + 2 * ((100vw - 320px) / 1600));
  line-height: 150%;
  color: #424F7B;
  margin-right: calc(6px + 6 * ((100vw - 320px) / 1600));
  -webkit-transition: margin-right 0.5s ease 0s;
  -o-transition: margin-right 0.5s ease 0s;
  transition: margin-right 0.5s ease 0s;
}

.rooms .item-rooms .more-item-rooms .more-item-rooms__title:hover {
  margin-right: calc(12px + 6 * ((100vw - 320px) / 1600));
}

.rooms .item-rooms__image {
  position: relative;
}

/*==========================================================================GET==========================================================================*/

.get {
  padding-top: calc(10px + 70 * ((100vw - 320px) / 1600));
  padding-bottom: calc(10px + 70 * ((100vw - 320px) / 1600));
}

.get .get__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.get .get__content .get__sub-title {
  font-family: "Inter";
  font-weight: 500;
  font-size: calc(14px + 2 * ((100vw - 320px) / 1600));
  line-height: 150%;
  color: #424F7B;
}

.get .get__content .get__title {
  padding-bottom: calc(12px + 12 * ((100vw - 320px) / 1600));
}

.get .get__content .get__text {
  padding-bottom: calc(16px + 16 * ((100vw - 320px) / 1600));
}

.get .get__content .get__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.get .get__content .get__buttons .get__button {
  margin-right: calc(12px + 12 * ((100vw - 320px) / 1600));
}

.get .get__content .get__buttons .get__button:last-child {
  margin-right: calc(0px + 0 * ((100vw - 320px) / 1600));
}

.get .get__content .get__buttons .button-room {
  font-family: "Inter";
  font-weight: 500;
  font-size: calc(14px + 2 * ((100vw - 320px) / 1600));
  line-height: 19px;
  color: #0E1734;
}

.get .get__content .get__buttons .button-room:hover {
  text-decoration: underline;
}

.get .spollers-get {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.get .spollers-get__item {
  padding-bottom: calc(12px + 12 * ((100vw - 320px) / 1600));
  -webkit-filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.07));
          filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.07));
}

.get .spollers-get__title {
  background-color: transparent;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: calc(12px + 12 * ((100vw - 320px) / 1600));
  line-height: 150%;
  color: #424F7B;
  width: 100%;
  text-align: left;
  border-radius: 4px;
  background-color: #FFFFFF;
  position: relative;
}

.get .spollers-get.init .spollers-get__title {
  cursor: pointer;
}

.get .spollers-get.init .spollers-get__title {
  padding-top: calc(16px + 16 * ((100vw - 320px) / 1600));
  padding-bottom: calc(16px + 16 * ((100vw - 320px) / 1600));
  padding-right: calc(19px + 17 * ((100vw - 320px) / 1600));
  padding-left: calc(19px + 17 * ((100vw - 320px) / 1600));
}

.get .spollers-get.init .spollers-get__title::before,
.get .spollers-get.init .spollers-get__title::after {
  content: "";
  width: calc(17px + 3 * ((100vw - 320px) / 1600));
  height: calc(2px + 1 * ((100vw - 320px) / 1600));
  position: absolute;
  background-color: #FF620A;
  right: 30px;
  top: calc(25px + 25 * ((100vw - 320px) / 1600));
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
  margin-right: calc(20px + 20 * ((100vw - 320px) / 1600));
}

.get .spollers-get.init .spollers-get__title.active::before,
.get .spollers-get.init .spollers-get__title.active::after {
  background-color: #424F7B;
}

.get .spollers-get.init .spollers-get__title::before {
  -webkit-transform: rotate(-40deg);
      -ms-transform: rotate(-40deg);
          transform: rotate(-40deg);
  right: 0px;
}

.get .spollers-get.init .spollers-get__title::after {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
  right: 13.5px;
}

.get .spollers-get.init .spollers-get__title.active::before {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
}

.get .spollers-get.init .spollers-get__title.active::after {
  -webkit-transform: rotate(-40deg);
      -ms-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.get .spollers-get__text {
  font-family: "Inter";
  font-weight: 400;
  font-size: calc(16px + 2 * ((100vw - 320px) / 1600));
  line-height: 150%;
  color: #848FAC;
  padding-left: calc(19px + 17 * ((100vw - 320px) / 1600));
  padding-right: calc(19px + 17 * ((100vw - 320px) / 1600));
  padding-bottom: calc(19px + 17 * ((100vw - 320px) / 1600));
  background-color: #FFFFFF;
}

/*==========================================================================REVIRWS==========================================================================*/

.reviews .reviews__title {
  text-align: center;
}

.reviews .reviews-swiper {
  margin-bottom: calc(10px + 70 * ((100vw - 320px) / 1600));
}

.reviews .reviews-slide {
  text-align: center;
  padding-top: calc(31px + 31 * ((100vw - 320px) / 1600));
  margin-bottom: calc(12px + 12 * ((100vw - 320px) / 1600));
}

.reviews .reviews-slide__icon {
  padding-bottom: calc(22px + 22 * ((100vw - 320px) / 1600));
}

.reviews .reviews-slide__text {
  display: inline-block;
  max-width: 793.06px;
  padding-bottom: calc(20px + 20 * ((100vw - 320px) / 1600));
}

.reviews .reviews-slide__title {
  font-family: "Inter";
  font-weight: 500;
  font-size: calc(15px + 5 * ((100vw - 320px) / 1600));
  line-height: 150%;
  color: #192252;
  padding-bottom: calc(12px + 12 * ((100vw - 320px) / 1600));
}

.reviews .reviews-pagination {
  bottom: 0;
}

.reviews .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  font-size: 1rem;
  background-color: #e09731;
  text-align: center;
}

.reviews .swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;
  font-size: 1rem;
  background: #FAB047;
}

/*====================FOOTER====================*/

.footer {
  background-color: #0b265a;
}

.footer .footer__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding-top: calc(10px + 110 * ((100vw - 320px) / 1600));
  padding-bottom: calc(10px + 110 * ((100vw - 320px) / 1600));
}

.footer .item-footer .item-footer__logo {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: calc(20px + 12 * ((100vw - 320px) / 1600));
  line-height: 39px;
  letter-spacing: -0.01em;
  color: #fff;
}

.footer .item-footer .item-footer__text {
  margin-top: calc(3px + 10 * ((100vw - 320px) / 1600));
  font-family: "Inter";
  font-weight: 400;
  font-size: calc(14px + 2 * ((100vw - 320px) / 1600));
  line-height: 28px;
  color: #D9DBDE;
  margin-bottom: calc(18px + 18 * ((100vw - 320px) / 1600));
}

.footer .item-footer .item-footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .item-footer .item-footer__icons .item-footer__icon {
  margin-right: calc(12px + 12 * ((100vw - 320px) / 1600));
}

.footer .item-footer .item-footer__icons .item-footer__icon:last-child {
  margin-right: calc(0px + 0 * ((100vw - 320px) / 1600));
}

.footer .item-footer .item-footer__icons ._icon-twitter {
  font-size: calc(20px + 10 * ((100vw - 320px) / 1600));
}

.footer .item-footer .item-footer__icons ._icon-instagram {
  font-size: calc(20px + 10 * ((100vw - 320px) / 1600));
}

.footer .item-footer .item-footer__icons ._icon-facebook {
  font-size: calc(20px + 10 * ((100vw - 320px) / 1600));
}

.footer .item-footer .item-footer__title {
  font-family: "Inter";
  font-weight: 700;
  font-size: calc(14px + 2 * ((100vw - 320px) / 1600));
  line-height: 19px;
  letter-spacing: 0.01em;
  color: #fff;
  padding-bottom: calc(12px + 12 * ((100vw - 320px) / 1600));
}

.footer .item-footer .item-footer-menu .item-footer-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .item-footer .item-footer-menu .item-footer-menu__item {
  padding-bottom: calc(12px + 12 * ((100vw - 320px) / 1600));
}

.footer .item-footer .item-footer-menu .item-footer-menu__item:last-child {
  padding-bottom: calc(0px + 0 * ((100vw - 320px) / 1600));
}

.footer .item-footer .item-footer-menu .item-footer-menu__link {
  font-family: "Inter";
  font-weight: 400;
  font-size: calc(14px + 2 * ((100vw - 320px) / 1600));
  line-height: 19px;
  color: #D9DBDE;
}

.footer .item-footer .item-footer-menu .item-footer-menu__link:hover {
  text-decoration: underline;
}

.footer .footer-spoller__item {
  margin-bottom: calc(10px + 10 * ((100vw - 320px) / 1600));
}

.footer .footer-spoller__logo {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: calc(20px + 12 * ((100vw - 320px) / 1600));
  line-height: 39px;
  letter-spacing: -0.01em;
  color: #fff;
  background-color: transparent;
  position: relative;
}

.footer .footer-spoller.init .footer-spoller__logo {
  cursor: pointer;
}

.footer .footer-spoller.init .footer-spoller__logo::before,
.footer .footer-spoller.init .footer-spoller__logo::after {
  content: "";
  width: 20px;
  height: 2px;
  position: absolute;
  background-color: #fff;
  right: 20px;
  top: 20px;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
  margin-right: calc(-60px + -60 * ((100vw - 320px) / 1600));
}

.footer .footer-spoller.init .footer-spoller__logo::after {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.footer .footer-spoller.init .footer-spoller__logo.active::after {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

.footer .footer-spoller__title {
  background-color: transparent;
  font-family: "Inter";
  font-weight: 700;
  font-size: calc(14px + 2 * ((100vw - 320px) / 1600));
  line-height: 19px;
  letter-spacing: 0.01em;
  color: #fff;
  padding-bottom: calc(12px + 12 * ((100vw - 320px) / 1600));
  position: relative;
}

.footer .footer-spoller.init .footer-spoller__title {
  cursor: pointer;
}

.footer .footer-spoller.init .footer-spoller__title::before,
.footer .footer-spoller.init .footer-spoller__title::after {
  content: "";
  width: 20px;
  height: 2px;
  position: absolute;
  background-color: #fff;
  right: 20px;
  top: 9px;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
  margin-right: calc(-60px + -60 * ((100vw - 320px) / 1600));
}

.footer .footer-spoller.init .footer-spoller__title::after {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.footer .footer-spoller.init .footer-spoller__title.active::after {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

.footer .footer-spoller__text {
  margin-top: calc(3px + 10 * ((100vw - 320px) / 1600));
  font-family: "Inter";
  font-weight: 400;
  font-size: calc(14px + 2 * ((100vw - 320px) / 1600));
  line-height: 28px;
  color: #D9DBDE;
  max-width: 186px;
  margin-bottom: calc(18px + 18 * ((100vw - 320px) / 1600));
}

.footer .footer-spoller__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .footer-spoller__icons .footer-spoller__icon {
  margin-right: calc(12px + 12 * ((100vw - 320px) / 1600));
}

.footer .footer-spoller__icons .footer-spoller__icon:last-child {
  margin-right: calc(0px + 0 * ((100vw - 320px) / 1600));
}

.footer .footer-spoller__icons ._icon-twitter {
  font-size: calc(20px + 10 * ((100vw - 320px) / 1600));
}

.footer .footer-spoller__icons ._icon-instagram {
  font-size: calc(20px + 10 * ((100vw - 320px) / 1600));
}

.footer .footer-spoller__icons ._icon-facebook {
  font-size: calc(20px + 10 * ((100vw - 320px) / 1600));
}

.footer .footer-spoller-menu .footer-spoller-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .footer-spoller-menu .footer-spoller-menu__item {
  padding-bottom: calc(12px + 12 * ((100vw - 320px) / 1600));
}

.footer .footer-spoller-menu .footer-spoller-menu__item:last-child {
  padding-bottom: calc(0px + 0 * ((100vw - 320px) / 1600));
}

.footer .footer-spoller-menu .footer-spoller-menu__link {
  font-family: "Inter";
  font-weight: 400;
  font-size: calc(14px + 2 * ((100vw - 320px) / 1600));
  line-height: 19px;
  color: #D9DBDE;
}

.footer .footer-spoller-menu .footer-spoller-menu__link:hover {
  text-decoration: underline;
}

@media (min-width: 767px) {
  .header .menu {
    padding: 0px 17.0731707317% 0px 17.0731707317%;
  }

  .header .menu .menu__item {
    padding-right: calc(10px + 22 * ((100vw - 320px) / 1600));
  }

  .header .menu .menu__item:last-child {
    padding-right: calc(0px + 0 * ((100vw - 320px) / 1600));
  }

  .space .space__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .cabin .cabin__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .cabin .cabin__content .cabin__text {
    max-width: 585px;
  }

  .food .food__content .food__text {
    max-width: 585px;
  }

  .get .get__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .get .get__content .get__text {
    max-width: 385px;
  }

  .footer .item-footer .item-footer__text {
    max-width: 186px;
  }

  .footer .footer-spoller {
    display: none;
  }
}

@media (max-width: 1250px) {
  .footer .footer__items .footer__item {
    padding-bottom: calc(20px + 20 * ((100vw - 320px) / 1600));
  }
}

@media (max-width: 1200px) {
  .rooms .rooms__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1100px) {
  .space .space__image {
    position: relative;
    padding: 0px 0px 50% 0px;
  }

  .space .space__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (max-width: 1000px) {
  .norway .norway__image {
    position: relative;
    text-align: center;
    padding: 0px 0px 60% 0px;
  }

  .norway .norway__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (max-width: 850px) {
  .cabin .cabin__image {
    position: relative;
  }

  .cabin .cabin__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .food .food__image {
    position: relative;
    padding: 0px 0px 40% 0px;
  }

  .food .food__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .rooms .item-rooms__image {
    position: relative;
    padding: 0px 0px 90% 0px;
  }

  .rooms .item-rooms__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (max-width: 767px) {
  .header .menu .menu__link {
    font-size: calc(45px + 5 * ((100vw - 320px) / 1600));
    color: #fff;
  }

  .menu__body {
    position: fixed;
    height: 100%;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: left 0.8s ease 0s;
    -o-transition: left 0.8s ease 0s;
    transition: left 0.8s ease 0s;
    left: -100%;
    bottom: 0%;
    overflow: auto;
    background-color: #ff620a;
  }

  .menu__body.active {
    left: 0;
  }

  .menu__list {
    text-align: center;
    padding-top: calc(150px + 50 * ((100vw - 320px) / 1600));
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu__item {
    margin-bottom: calc(15px + 10 * ((100vw - 320px) / 1600));
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  span {
    display: block;
    width: calc(22px + 3 * ((100vw - 320px) / 1600));
    height: 2px;
    margin: 5px auto;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    background-color: #000;
  }

  .burger.active span:nth-child(2) {
    opacity: 0;
  }

  .burger.active span:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(42deg);
        -ms-transform: translateY(8px) rotate(42deg);
            transform: translateY(8px) rotate(42deg);
  }

  .burger.active span:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-40deg);
        -ms-transform: translateY(-8px) rotate(-40deg);
            transform: translateY(-8px) rotate(-40deg);
  }

  .space .space__content {
    padding-bottom: calc(20px + 20 * ((100vw - 320px) / 1600));
  }

  .space .space__image {
    padding: 0px 0px 100% 0px;
  }

  .norway .norway__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .norway .norway__image {
    padding: 0px 0px 150% 0px;
  }

  .norway .norway__content {
    padding-bottom: calc(20px + 20 * ((100vw - 320px) / 1600));
  }

  .cabin .cabin__content {
    padding-bottom: calc(20px + 20 * ((100vw - 320px) / 1600));
  }

  .cabin .cabin__image {
    padding: 0px 0px 80% 0px;
  }

  .food .food__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .food .food__image {
    padding: 0px 0px 92% 0px;
  }

  .food .food__content {
    padding-bottom: calc(20px + 20 * ((100vw - 320px) / 1600));
  }

  .rooms .item-rooms__image {
    padding: 0px 0px 70% 0px;
  }

  .get .get__content {
    padding-bottom: calc(20px + 20 * ((100vw - 320px) / 1600));
  }

  .footer .footer__items {
    display: none;
  }

  .footer .footer-spoller {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding-top: calc(10px + 110 * ((100vw - 320px) / 1600));
    padding-bottom: calc(10px + 110 * ((100vw - 320px) / 1600));
  }
}

@media (max-width: 600px) {
  .header .menu .menu__link {
    font-size: calc(30px + 10 * ((100vw - 320px) / 1600));
  }
}

@media (max-width: 225px) {
  .header .header__button {
    display: none;
  }
}